/* Ensure the body takes up full screen */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: 'The Scientist';
    src: url('/static/fonts/TheScientist.ttf') format('truetype');
}

/* Make the Spline viewer fill the entire viewport */
spline-viewer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

/* Mama's Garden Title */
.website-title {
    position: fixed;
    top: 30%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 9rem;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 10px rgba(169, 237, 203, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
    font-family: 'The Scientist', sans-serif;
    z-index: 20;
    white-space: nowrap;
}

/* Plant Facts Section */
.plant-facts {
    position: fixed;
    bottom: 10%;
    right: 1%;
    background-color: #c2fbd7;
    border-radius: 20px;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: rgba(44, 187, 99, 0.2) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 2px 4px;
    z-index: 10;
}

.plant-facts p {
    margin: 5px 0;
    font-size: 18px;
    font-family: 'CerebriSans-Regular', -apple-system, system-ui, Roboto, sans-serif;
    color: #004d00;
}

/* Button Container */
.button-container {
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 10; /* Ensure it's above the Spline viewer */
}

/* Button styles */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, 
              rgba(44, 187, 99, .15) 0 1px 2px, 
              rgba(44, 187, 99, .15) 0 2px 4px, 
              rgba(44, 187, 99, .15) 0 4px 8px, 
              rgba(44, 187, 99, .15) 0 8px 16px, 
              rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Button hover effect */
.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset, 
              rgba(44,187,99,.25) 0 1px 2px, 
              rgba(44,187,99,.25) 0 2px 4px, 
              rgba(44,187,99,.25) 0 4px 8px, 
              rgba(44,187,99,.25) 0 8px 16px, 
              rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
