<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Mama's Garden</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Mamas.png') }}">
</head>
<body>

    <!-- Mama's Garden Title -->
    <h1 class="website-title">Mama's <br> Garden</h1>

    <!-- Plant Facts Section -->
    <div class="plant-facts">
        <strong>Did you know?</strong>
        <p>{{ plant_fact | safe }}</p> <!-- Dynamic Plant Fact -->
    </div>

    <!-- Dashboard Button -->
    <div class="button-container">
        <a href="{{ url_for('dashboard') }}"><button class="button-33" role="button">Dashboard</button></a>
    </div>

    <!-- Embed Spline 3D Scene as Background -->
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.63/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/YbMGoGZ2bF258OcK/scene.splinecode"></spline-viewer>

</body>
</html>

